/* Write your CSS here */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.heading {
  font-family: 'Roboto';
  font-size: 50px;
  color: #333333;
  text-align: center;
}
.search-input-container {
  height: 60px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.search-bar {
  border: 0px;
  outline: none;
  height: 50px;
  width: 260px;
  background-color: #f1f5f9;
  font-size: 23px;
}
.search-icon{
  height: 50px;
  width: 50px;
  background-color: #f1f5f9;
}